
html{
    font-family: 'Vazirmatn', sans-serif;
}
input:focus{
    border : none;
    outline : none;
}
.mapboxgl-ctrl-logo{
    display:  none !important;
}
.mapboxgl-ctrl-attrib{
    display: none;
}